{% extends "base.html" %}

{% block title %}Page Title{% endblock %}

{% block content %}

{% include 'nav.html' %}
<style>
  .link-class {
      color: white;
      text-decoration: none; /* Optional: removes underline from the link */
  }

  /* .link-class:hover {
      color: purple;
  } */
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    /* transition: background-color 0.3s ease; */
        }

        .cta-button:hover {
          display: inline-block;
         
        }

  .Kilush_com_index{
    margin-bottom: 0%;
  }
  .Order_website_index{
    margin-top: 0%;
    border: none;
    


  }
</style>

  <div id="side-nav" class="sidenav"><a href="javascript:void(0)" id="side-nav-close">×</a>
    <div class="sidenav-content">
      <p>Nairobi Kenya</p>
      <p><span class="fs-16 primary-color">(+254) 768500572</span></p>
      <p>amosmaru10@gmail.com</p>
    </div>
  </div>
  <div id="side-search" class="sidenav"><a href="javascript:void(0)" id="side-search-close">×</a>
    <div class="sidenav-content">
      <form action="#" method="post">
        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="input-group-text red lighten-3" id="basic-text1"><span class="lnr lnr-magnifier"></span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
      <h1 class="display-1 mb-4" class="link-class">kil<br>ush<br>.com</h1>
      <!-- <h1 class="Kilush_com_index"><a href="/#reservation" class="link-class">Kilush .com</a></h1> -->
      <h1 class="Order_website_index"> <a href="/#reservation" class="cta-button">Biuld your Dream Website</a></h1>
    </div>
    
    <div class="rectangle-1"></div>
    <div class="rectangle-1"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-2"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="triangle triangle-1"><img src="static/images/obj_triangle.png" alt="website template image"></div>
    <div class="triangle triangle-2"><img src="static/images/obj_triangle.png" alt="website template image"></div>
    <div class="triangle triangle-3"><img src="static/images/obj_triangle.png" alt="website template image"></div>
    <div class="triangle triangle-4"><img src="static/images/obj_triangle.png" alt="website template image"></div>
  </div>
  <section id="features" class="bg-white">
    <div class="container">
      <div class="section-content">
        <div class="title-wrap mb-5" data-aos="fade-up">
          <h2 class="section-title"> Service offered by <a href="https://kilush.com" target="_blank">kilush.com</a></h2>
          <p class="section-sub-title">Discover Kilush.com: Where dreams become products that sell themselves.<br> Experience top-tier solutions crafted to captivate and convert. Let's turn your vision into reality.</p>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1 features-holder">
            <div class="row">
              <div class="col-md-4 col-sm-12 text-center mt-4">
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4">
                    <i class="lnr lnr-code fs-40"></i></div>
                  <h4>Web Development</h4>
                  <p>Create tailored web solutions that fit your unique needs and stand out in functionality.</p>
                </div>
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4"><i class="lnr lnr-rocket fs-40"></i></div>
                  <h4>Scalable Systems</h4>
                  <p>Build robust and scalable systems that evolve seamlessly with your growing business.</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 text-center">
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4"><i class="lnr lnr-bubble fs-40"></i></div>
                  <h4>AI System & Chatbots</h4>
                  <p>Implement cutting-edge AI solutions and chatbots to automate tasks and enhance user experiences.</p>
                </div>
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4"><i class="lnr lnr-clock fs-40"></i></div>
                  <h4>On Time</h4>
                  <p>Deliver projects on time without compromising quality, ensuring customer satisfaction.</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 text-center mt-4">
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4"><i class="lnr lnr-pie-chart fs-40"></i></div>
                  <h4>Data Analytics & Machine Learning</h4>
                  <p>Utilize advanced data analytics and machine learning techniques to gain valuable insights and drive informed decisions.</p>
                </div>
                <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                  <div class="my-4"><i class="lnr lnr-thumbs-up fs-40"></i></div>
                  <h4>SASS Specalist</h4>
                  <p>Work with a team of passionate experts dedicated to bringing your ideas to life with creativity and excellence.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-featurettes" class="featurettes overlay bg-fixed" style="background-image:url(static/images/bg.jpg);">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <div class="row align-items-center text-white">
              <div class="col-md-4 offset-md-2 col-sm-6" data-aos="fade-right">
                <h4 class="mb-4">About kilush.com</h4>
                <p>At Kilush.com, we offer comprehensive digital solutions tailored to your needs. From crafting stunning websites to analyzing data for strategic insights, building efficient ERP systems, and developing cutting-edge AI solutions, we ensure your digital journey is seamless. With a focus on timely delivery and customer satisfaction, Kilush.com is your go-to partner for innovative and impactful digital transformations.</p>
                <button type="button" class="btn btn-outline-primary">learn More</button>
              </div>
              <div class="col-md-4 offset-md-right-2 col-sm-6" data-aos="flip-right"><img class="my-5" src="static/images/procreator-ux-design-studio-VzJjPuk53sk-unsplash.jpg" alt="website template image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonial" class="section-padding bg-fixed bg-white overlay" style="background-image:url(static/images/bg-white.jpg);">
    <div class="container">
      <div class="section-content" data-aos="fade-up">
        <div class="heading-section text-center">
          <h2>User Testimonials</h2>
        </div>
        <div class="row">
          <div class="testi-content testi-carousel owl-carousel">
            <div class="testi-item text-center"><i class="testi-icon fa fa-3x fa-quote-left"></i>
              <h4 class="testi-text"><b>kilush.com</b> is best got to for AI Development I used so far.<br>
                It’s ideal for guys without coding knowledge like me!</h4>
              <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                <div class="testi-img mr-2"><img src="static/assets/10X.png" alt="website template image"></div>
                <div class="testi-details">
                  <p class="testi-author mb-0 font-weight-bolder">Kevin Karuki</p>
                  <p class="testi-desc mb-0">Founder 10XBeast</p>
                </div>
              </div>
            </div>
            <div class="testi-item text-center"><i class="testi-icon fa fa-3x fa-quote-left"></i>
              <h4 class="testi-text"><b>Kilush.com </b> transformed our business with a stunning website, insightful data analysis, streamlined ERP system, and cutting-edge AI solutions. Their on-time delivery and exceptional service make them a top choice for digital success.</h4>
              <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                <div class="testi-img mr-2"><img src="static/assets/TRANCE.png" alt="website template image"></div>
                <div class="testi-details">
                  <p class="testi-author mb-0 font-weight-bolder">Michael Munavu</p>
                  <p class="testi-desc mb-0">Founder MCHE</p>
                </div>
              </div>
            </div>
            <!-- <div class="testi-item text-center"><i class="testi-icon fa fa-3x fa-quote-left"></i>
              <h4 class="testi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci<br>
                non doloribus ut, alias doloremque perspiciatis.</h4>
              <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                <div class="testi-img mr-2"><img src="static/images/testi-1.jpg" alt="website template image"></div>
                <div class="testi-details">
                  <p class="testi-author mb-0 font-weight-bolder">John Doe</p>
                  <p class="testi-desc mb-0">Web Designer</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="portfolio" class="bg-white">
    <div class="container">
      <div class="section-content">
        <div class="title-wrap">
          <h2 class="section-title">Our <b>Awesome</b> Works</h2>
          <p class="section-sub-title">Checkout kilush.com latest products<br></p>
        </div>
        <div class="row">
          <div class="col-md-12 portfolio-holder mt-3">
            <div class="filter-button-group btn-filter d-flex justify-content-center">
              <a tabindex="0" class="is-checked" data-filter="*">Show All</a> 
              <!-- <a tabindex="0" data-filter=".minimalism">Minimalism</a> 
              <a tabindex="0" data-filter=".vintage">Vintage</a> 
              <a tabindex="0" data-filter=".creative">Creative</a> -->
            </div>
            <div class="grid-portfolio">
              <div class="grid-sizer"></div>
              <div class="gutter-sizer"></div>
              <div class="grid-item minimalism" data-aos="fade-up">
                <div class="grid-item-wrapper"><img src="static/assets/mche-pic.png" alt="website template image" class="portfolio-item">
                  <div class="grid-info">
                    <div class="grid-link d-flex justify-content-center"><a class="img-pop" data-rel="lightcase" href="static/assets/mche-pic.png"><span class="lnr lnr-move"></span></a> <a class="ext-link" href="https://www.mche.africa"><span class="lnr lnr-link"></span></a></div>
                    <div class="grid-title">
                      <h4>MCHE</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-item vintage" data-aos="fade-up">
                <div class="grid-item-wrapper"><img src="static/images/kilush.com.png"src="static/assets/mpesaAnalyser.png"  alt="website template image" class="portfolio-item">
                  <div class="grid-info">
                    <div class="grid-link d-flex justify-content-center"><a class="img-pop" data-rel="lightcase" href="static/images/kilush.com.png"><span class="lnr lnr-move"></span></a> <a class="ext-link" href="http://www.kilush.com"><span class="lnr lnr-link"></span></a></div>
                    <div class="grid-title">
                      <h4>kilush.com</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-item creative grid-item-height" data-aos="fade-up">
                <div class="grid-item-wrapper"><img src="static/assets/projcet1.png" alt="website template image" class="portfolio-item">
                  <div class="grid-info">
                    <div class="grid-link d-flex justify-content-center"><a class="img-pop" data-rel="lightcase" href="static/assets/projcet1.png"><span class="lnr lnr-move"></span></a> <a class="ext-link" href="https://mche.africa/chatbot"><span class="lnr lnr-link"></span></a></div>
                    <div class="grid-title">
                    </div>
                    <h4>mche-chatbot</h4>
                  </div>
                </div>
              </div>

              <div class="grid-item creative" data-aos="fade-up">
                <div class="grid-item-wrapper"><img src="static/assets/mpesaAnalyser.png"alt="website template image" class="portfolio-item">
                  <div class="grid-info">
                    <div class="grid-link d-flex justify-content-center"><a class="img-pop" data-rel="lightcase" href="static/assets/mpesaAnalyser.png"href="static/assets/projcet1.png" ><span class="lnr lnr-move"></span></a> <a class="ext-link" href="http://mpesaflow.kilush.com/"><span class="lnr lnr-link"></span></a></div>
                    <div class="grid-title">
                    <h4>Mpesa Analytics</h4>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="grid-item vintage" data-aos="fade-up">
                <div class="grid-item-wrapper"><img src="static/images/10xbeast_image.png" alt="website template image" class="portfolio-item">
                  <div class="grid-info">
                    <div class="grid-link d-flex justify-content-center"><a class="img-pop" data-rel="lightcase" href="static/images/10xbeast_image.png"><span class="lnr lnr-move"></span></a> <a class="ext-link" href="https://www.10xbeast.com"><span class="lnr lnr-link"></span></a></div>
                    <div class="grid-title">
                      <h4>10XBeast</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-item creative" data-aos="fade-up">
                <div class="grid-item-wrapper"><img src="static/images/SEMA.png" alt="website template image" class="portfolio-item">
                  <div class="grid-info">
                    <div class="grid-link d-flex justify-content-center"><a class="img-pop" data-rel="lightcase" href="static/images/SEMA.png"><span class="lnr lnr-move"></span></a> <a class="ext-link" href="https://semawebapp.com/"><span class="lnr lnr-link"></span></a></div>
                    <div class="grid-title">
                      <h4>SEMA</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="client" class="overlay bg-fixed" style="background-image:url(static/images/bg.jpg);">
    <div class="container">
      <div class="section-content" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap mb-5">
              <h2>Partners <span> working</span> with us</h2>
            </div>
          </div>
          <div class="col-md-12 client-holder">
            <div class="client-slider owl-carousel">
              <div class="client-item"><img class="img-responsive" src="static/images/MCHE-LOGO.png" alt="website template image"></div>
              <div class="client-item"><img class="img-responsive" src="static/images/10xbeast.png" alt="website template image"></div>
              <div class="client-item"><img class="img-responsive" src="static/images/SEMA-LOGO.png" alt="website template image"></div>
              <div class="client-item"><img class="img-responsive" src="static/images/KILUSH.COM-LOGO.png" alt="website template image"></div>
              <!-- <div class="client-item"><img class="img-responsive" src="static/images/10xbeast.png" alt="website template image"></div> -->
              <!-- <div class="client-item"><img class="img-responsive" src="static/images/10xbeast.png" alt="website template image"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="reservation" class="bg-white section-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 offset-lg-1 mb-5 mb-lg-0" data-aos="fade-right">
          <div class="bg-white p-5 shadow">
            <div class="heading-section text-center">
              <h2 class="mb-4">Contact Us</h2>
            </div>
            <form action="https://api.web3forms.com/submit" method="POST" name="contact-us">
              <div class="row">
                <input type="hidden" name="access_key" value="3a12a932-dc58-46d7-8101-95670a52589f">
                <div class="col-md-12 form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="col-md-12 form-group">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="col-md-12 form-group">
                  <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
                </div>
                <!-- <div class="col-md-12 form-group">
                  <input type="text" class="form-control" id="websiteUrl" name="websiteUrl" placeholder="Website">
                </div> -->
                <div class="col-md-12 form-group">
                  <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Message ..."></textarea>
                </div>
                <div class="col-md-12 text-center">
                  <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1" data-aos="fade-left">
          <h2 class="mb-4">Best solution to create any website. Pay once.</h2>
          <ul class="list-inline py-2">
            <li class="list-inline-item text-center"><span class="lnr fs-40 lnr-rocket"></span>
              <p>Fast delivery</p>
            </li>
            <li class="list-inline-item text-center"><span class="lnr fs-40 lnr-magic-wand"></span>
              <p>Awesome design</p>
            </li>
            <li class="list-inline-item text-center"><span class="lnr fs-40 lnr-cog"></span>
              <p>Easy to customize</p>
            </li>
          </ul>
          <a href="/contact.html" class="btn btn-link p-0"><span>Contact Us Now</span> <span class="lnr lnr-arrow-right"></span></a></div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}

{% endblock %}
  
  </body>
  </html>